/*MainPage*/
.MainPage{
	max-width:60%;
	text-align:center;
	margin: 0 auto;
	height:800px;
}
.MainPage .content{
	height:100%;
	align-items:center;
	width: 50%; 
	float: left; 
	
}
.MainPage .content_map ul{
	display: inline-block;
	vertical-align:middle;
	list-style:none;
	
}
.MainPage .course_explain {
	margin-top:10% 
}  
.MainPage .course_explain span{
	width:100%;
	height:20%;
	align-items:center;
	margin: 0 auto; 
	text-align:center;
	justify-content:space-around;
}  
.Map{ 
	width:100%;  
	align-items:center; 
}
.Map .map_fig{
	margin-top: 5%;
	
}      