<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TravelMapper">

	<select id="Course_TotalCount" resultType="int"
		parameterType="hashmap">
		select count(rimage)from travel_course
		<where>
			<if test="course == 'ha'">
				regioncd = 'HA' and searchtype='코스'
			</if>
			<if test="course == 'gu'">
				regioncd = 'GU' and searchtype='코스'
			</if>
			<if test="course == 'nd'">
				regioncd = 'ND' and searchtype='코스'
			</if>
			<if test="course == 'sj'">
				regioncd = 'SJ' and searchtype='코스'
			</if>
			<if test="course == 'ys'">
				regioncd = 'YS' and searchtype='코스'
			</if>
		</where>
	</select>

	<select id="Course_Main" parameterType="string"
		resultType="CourseDTO">
		select * from travel_course order by rImage
	</select>

	<select id="Course_SelectedArea" resultType="CourseDTO">
		select * from
		travel_course where
		regioncd = UPPER (#{course})
	</select>

	<!-- /////////////// Area /////////////// -->
	<select id="Area_main" resultType="AreaDTO">
		select * from travel_area
	</select>

	<select id="Area_TotalCount" resultType="int"
		parameterType="hashmap">
		select count(intro) from travel_area
		<where>
			<if test="check == 'check'">
				TITLE like '%'||#{TITLE}||'%'
			</if>
		</where>
	</select>

	<select id="Area_InitialSearch" resultType="AreaDTO"
		parameterType="string">
		select * from travel_area
		<where>
			<if test="check=='check'">
				TITLE like '%'||#{TITLE}||'%'
			</if>

		</where>
	</select>
	
	<select id="Area_IS_TotalCount" resultType="int"
		parameterType="hashmap">
		select count(TITLE) from travel_area where TITLE like '%'||#{TITLE}||'%'
	</select>


	<select id="Area_RegionCd_TotalCount" resultType="int"
		parameterType="hashmap">
		select count(REGIONCD) from travel_area where REGIONCD =
		#{REGIONCD}
	</select>

	<select id="Area_Region" resultType="AreaDTO" parameterType="string">
		select * from travel_area
		<where>
			<if test="REGIONCD=='HA'">
				REGIONCD='HA'
			</if>
			<if test="REGIONCD=='SJ'">
				REGIONCD='SJ'
			</if>
			<if test="REGIONCD=='ND'">
				REGIONCD='ND'
			</if>
			<if test="REGIONCD=='YS'">
				REGIONCD='YS'
			</if>
			<if test="REGIONCD=='GU'">
				REGIONCD='GU'
			</if>
		</where>
	</select>
</mapper> 
